
{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Vane bebé</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, natus temporibus expedita culpa rerum quas eaque modi beatae iusto, error perferendis dolores eligendi unde, saepe ea facere doloribus quam necessitatibus.</p>
    </div>

    <div class="col-4">
        <img src="assets\img\vane.jpg" class="img-thumbnail">
    </div>

</div>

  {{> footer}}